<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <h1>jelooo</h1>
    <form action="/quotes" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="quote" placeholder="quote">
        <button type="submit">Submit</button>
    </form>

    <%= quotes %>
    
    <h2>Quotes</h2>

    <ul class="quotes">
        <!-- Loop through quotes -->
        <% for (var i = 0; i< quotes.length; i++) {%>
            <li class="quote">
                <!-- Output name from the iterated quote object -->
                <span><%= quotes[i].name %></span>
                <!-- Output quote from the iterated quote object -->
                <span><%= quotes[i].quote %></span>
            </li>
        <% } %>
    </ul>


    <!-- update operations with a PUT request -->
    <div>
        <h2>Nyandarua</h2>
        <p>Cash crop ni waru</p>
        <button id="update-button">Replace Kinyenje Quote</button>
    </div>

    <div>
        <h2>Remove kinyenje</h2>
        <p>remove peace
        </p>
        <button id="delete-button">Delete Kinyenjequote</button>
      </div>

      <div id="message"></div>

    <script src="/main.js"></script>
</body>
</html>